body {
  padding-top: 70px;
  background-color: #EBF7E6;
}

a {
  color: #5EBF3B;
  &:hover { color: #54C42B; }
  &:focus{ outline:none; text-decoration: none; }
}

#logo { 
  img { width: 160px; }
}

ul {
  padding: 0; margin: 0;
  li {
    padding: 0; margin: 0px; list-style-type: none;
  }
}
